h1,
h2,
h3,
p,
a,
li,
label,
input,
option,
select,
td,
button {
  font-family: "Old English Five", Tahoma;
  color: white;
}

/* albums page */

#albums {
  display: grid;
  grid-template-columns: auto auto;
}

#search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}

.query-item > button {
  margin: 8px 0px 16px 0px;
}

.albums-img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.query-item > input,
select {
  width: 10vw;
}

/* album page */

#album {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#album > div {
  flex: 1;
}

#info-div > button {
  margin-top: 10px;
}

.album-img {
  width: 100%;
}

.table-img {
  width: 10vw;
  display: block;
}

.dispatched-table > tr > td {
  border: 1px solid;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

.album-p {
  margin: 4px 0px 4px 0px;
}

#info-div > table > tr > td:nth-child(3) {
  text-align: end;
}

.albums-div > img {
  object-fit: cover;
  height: 50vh;
}

/* misc */

input,
select {
  color-scheme: dark;
  background: transparent;
  padding: 0px 0px 2px 0px;
  margin: 8px 0px 16px 0px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}

input:hover,
input:focus,
button:hover,
button:focus {
  text-shadow: red 2px 2px 5px;
}

button {
  background-color: black;
  color: white;
}

i {
  color: white;
  font-size: 80%;
}

a {
  color: red;
}

body {
  background-color: black;
}
