h1,
h2,
h3,
p,
a,
li,
label,
input,
option,
select,
td,
button {
  font-family: "Old English Five", Tahoma;
  color: white;
}

/* albums page */

select option, select optgroup {
  background: black;
}

#albums {
  display: grid;
  grid-template-columns: auto auto;
}

.query-item > button {
  margin: 8px 0px 16px 0px;
}

.albums-img {
  padding-top: 20px;
  object-fit: cover;
  height: 50vh;
  padding-bottom: 20px;
  display: block;
}

#search-form {
  display: none;
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: space-between;
 
}

.query-item > input,
select {
  width: 15vw;
} 

@media (max-width: 768px)  {
  #albums {
    grid-template-columns: auto;
    justify-content: flex-start;
  }
  #search-form {
    width: auto;
  }

  .query-item > input,
  select {
    width: 20vw;
  } 

  

  .query-item > label {
    display: none;
  }
}

@media (max-width: 576px)  {
  #albums {
    justify-content: center;
  }

  .albums-div {
    width: 80vw;
    
  }

  .albums-img {
    width: 100%;
    height: auto;
  }
}





/* album page */

#album {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media (max-width: 768px)  {
  #album {
    flex-direction:column;
  }
}


#album > div {
  flex: 1;
}

.album-img {
  width: 100%;
}

.table-img {
  width: 100%;
  display: block;
}

.hideable-path {
  display: none;
}

.dispatched-table {
  width: 100%;
  border: 1px solid white;
}

.dispatched-table > tr > td {
  border: 1px solid;
  vertical-align: middle;
  text-align: center;
}

.dispatched-table > tr > td:nth-child(1) {
  width: 10vw;
}

.dispatched-table > tr > td:nth-child(2) {
  width: 40vw;
}

.dispatched-table > tr > td:nth-child(3) {
  width: 20vw;
}

.dispatched-table > tr > td:nth-child(4) {
  width: 10vw;
}

.album-p {
  margin: 4px 0px 4px 0px;
}

#info-div > table > tr > td:nth-child(3) {
  text-align: end;
}



@media (max-width: 768px)  {
  .hideable-path {
    display: block;
  }
  
  .inverse-hideable-path {
    display: none;
  }

  .dispatched-table > tr > td:nth-child(1) {
    width: 20vw;
  }

  .dispatched-table > tr:nth-child(1) {
    display: none;
  }

  .dispatched-table > tr > td:nth-child(2) {
    width: 60vw;
  }
  .dispatched-table > tr > td:nth-child(3) {
    display: none;
  }
  .dispatched-table > tr > td:nth-child(4) {
    display: none;
  }
  .dispatched-table > tr > td:nth-child(5) {
    display: none;
  }
}


/* misc */

input,
select {
  color-scheme: dark;
  background: transparent;
  padding: 0px 0px 2px 0px;
  margin: 8px 0px 16px 0px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}

input:hover,
input:focus,
button:hover,
button:focus {
  text-shadow: red 2px 2px 5px;
}

.disabled-button {
  color: grey;
  pointer-events: none;
}

button {
  background-color: black;
  color: white;
  margin-top:10px;
  margin-right:10px;
  margin-bottom:10px;
}

i {
  color: white;
  font-size: 80%;
}

a {
  color: red;
}

body {
  background-color: black;
}

.shop {
  background-color: rgb(1, 35, 99);
}
